<style>
.box_container {
  float: left;
  position: relative;
  top: 30px;
  z-index: 100;
  width: 35%;
  height: 270px;
  margin-right: 1.6%;
  background: #fff;
  border: 5px solid #dfdfdf;
}

</style>

<div class="box_container">
  <!-- 공지 최신글 -->
  <article class="group_latest02">
    <h3 class="tap_news03">
      <a href="#none" title="공지사항 탭펼치기" class="">공지사항</a>
      <strong class="icon_tail icon_blue" style="display: none;"></strong>
    </h3>















    <!-- //////////////////////////////////////////////////////////////////////////////////////////  -->
    <div style="display: none;">

      <div class="box_news">
        <h4><a
            href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_11066&amp;boardSeq=I_10784332&amp;mcategoryId=&amp;id=mnd_020401000000"
            title="해당글로 페이지이동">국방부 2022년 부패방지 의무교육 이행현황 공개</a></h4>
        <p class="date">2023-07-28</p>
        <p class="summary">

          □ 국방부 2022년 부패방지 의무교육 이행현황을 다음과 같이 공개합니다

          - 교육기간 : 2022.01.01 ~.....
        </p>
      </div>
      <div class="list_news blue">
        <ul>




          <li class="first">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_11066&amp;boardSeq=I_10783648&amp;mcategoryId=&amp;id=mnd_020401000000"
                title="해당글로 페이지이동">'23년 국방부 정부혁신ㆍ적극행정 우수사례 경진대회 </a></h5>
          </li>





          <li class="last">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_11066&amp;boardSeq=I_10780986&amp;mcategoryId=&amp;id=mnd_020401000000"
                title="해당글로 페이지이동">2023년 공무원연금공단 「공무원 온라인 상담서비스」</a></h5>
          </li>




        </ul>
      </div>

      <a href="/user/boardList.action?boardId=I_11066&amp;mcategoryId=&amp;id=mnd_020401000000" class="btn_more">공지사항
        바로보기 게시판 더보기</a>
    </div>

  </article>
  <!-- // 공지 최신글 -->

  <!-- 입찰 최신글 -->
  <article class="group_latest02">
    <h3 class="tap_news04">
      <a href="#none" title="입찰 탭펼치기" class="">입찰</a>
      <strong class="icon_tail icon_blue off" style="display: none;"></strong>
    </h3>















    <!-- //////////////////////////////////////////////////////////////////////////////////////////  -->
    <div style="display: none;">

      <div class="box_news">
        <h4><a
            href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26374&amp;boardSeq=I_10744611&amp;mcategoryId=&amp;id=mnd_020402000000"
            title="해당글로 페이지이동">군 발생 불용군수품 매각 단체 선정 공고</a></h4>
        <p class="date">2023-07-12</p>
        <p class="summary">
          군 발생 불용군수품 매각 단체 선정 공고입니다.
          지원 가능 단체로서의 요건을 확인 후 접수하여 주시기 바랍니다.

          - 접수 기간 : 23.....
        </p>
      </div>
      <div class="list_news blue">
        <ul>




          <li class="first">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26374&amp;boardSeq=I_10610481&amp;mcategoryId=&amp;id=mnd_020402000000"
                title="해당글로 페이지이동">[국군제9965부대] 식당 식자재 납품업체 모집공고</a></h5>
          </li>




          <li class="last">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26374&amp;boardSeq=I_10562242&amp;mcategoryId=&amp;id=mnd_020402000000"
                title="해당글로 페이지이동">23년 민영콘도 신규 회원권 매입 입찰 공고문 및 제</a></h5>
          </li>



        </ul>
      </div>

      <a href="/user/boardList.action?boardId=I_26374&amp;mcategoryId=&amp;id=mnd_020402000000" class="btn_more">입찰 바로보기
        게시판 더보기</a>
    </div>
  </article>
  <!-- // 입찰 최신글 -->

  <!-- 채용 최신글 -->
  <article class="group_latest02">
    <h3 class="tap_news05">
      <a href="#none" title="채용 탭펼치기" class="current bg_blue">채용</a>
      <strong class="icon_tail icon_blue off" style="display: inline;"></strong>
    </h3>















    <!-- //////////////////////////////////////////////////////////////////////////////////////////  -->
    <div style="display: block;">

      <div class="box_news">
        <h4><a
            href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26382&amp;boardSeq=I_10784682&amp;mcategoryId=&amp;id=mnd_020403000000"
            title="해당글로 페이지이동">[국군복지단] 23-13차(9월) 공무직 근로자 신규</a></h4>
        <p class="date">2023-07-28</p>
        <p class="summary">
          [23-13차(9월) 공무직근로자 신규채용 계획]

          1. 공고 / 접수기간 : '23. 7. 28.(금) ~ '23. 8. 7.(월) 12:.....
        </p>
      </div>
      <div class="list_news blue">
        <ul>




          <li class="first">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26382&amp;boardSeq=I_10784432&amp;mcategoryId=&amp;id=mnd_020403000000"
                title="해당글로 페이지이동">2023년 2차 국방출판지원단 일반임기제군무원 채용 </a></h5>
          </li>




          <li class="last">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26382&amp;boardSeq=I_10784124&amp;mcategoryId=&amp;id=mnd_020403000000"
                title="해당글로 페이지이동">국방통합데이터센터 '23-5차 한시임기제군무원 채용 </a></h5>
          </li>



        </ul>
      </div>

      <a href="/user/boardList.action?boardId=I_26382&amp;mcategoryId=&amp;id=mnd_020403000000" class="btn_more">채용 바로보기
        게시판 더보기</a>
    </div>
  </article>
  <!-- // 채용 최신글 -->

  <!-- 고시공시 최신글 -->
  <article class="group_latest02">
    <h3 class="tap_news06" style="background: none;">
      <a href="#none" title="고시·공고 탭펼치기" class="">고시·공고</a>
      <strong class="icon_tail icon_blue off" style="display: none;"></strong>
    </h3>















    <!-- //////////////////////////////////////////////////////////////////////////////////////////  -->
    <div style="display: none;">

      <div class="box_news">
        <h4><a
            href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26390&amp;boardSeq=I_10781380&amp;mcategoryId=&amp;id=mnd_020404000000"
            title="해당글로 페이지이동">국방부공고 제2023-284호(국방·군사시설사업계획 공</a></h4>
        <p class="date">2023-07-27</p>
        <p class="summary">
          국방부공고 제2023-284호

          국방·군사시설사업계획 공고


          「국방ㆍ군사시설 사업에 관한 법률」제4조제3항 및 같은 법 시행령 제3조제5항과 .....
        </p>
      </div>
      <div class="list_news blue">
        <ul>



          <li class="first">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26390&amp;boardSeq=I_10780004&amp;mcategoryId=&amp;id=mnd_020404000000"
                title="해당글로 페이지이동">국방부고시 제2023-31호(국방·군사시설사업계획 승인</a></h5>
          </li>



          <li class="last">
            <h5><a
                href="/user/boardList.action?command=view&amp;page=1&amp;boardId=I_26390&amp;boardSeq=I_10754123&amp;mcategoryId=&amp;id=mnd_020404000000"
                title="해당글로 페이지이동">국방부고시 제2023-30호(실시계획 승인 고시/차기 </a></h5>
          </li>



        </ul>
      </div>

      <a href="/user/boardList.action?boardId=I_26390&amp;mcategoryId=&amp;id=mnd_020404000000" class="btn_more">고시공고
        바로보기 게시판 더보기</a>
    </div>
  </article>
  <!-- // 고시공시 최신글 -->
</div>