<!DOCTYPE html>
<html lang="ko">
<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeIsU 이력서 미리보기</title>


    <link href="../common/kt/css/resume_view.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>
<body>

    <div class="wrap">



        
        <div id="resume-preview">
            <div class="resume-title">
                <div class="title-txt limit">
                    이력서
                        <a class="btn btn-printer" title="인쇄" onclick="openPrintPreview()" style="float:right; font-size: 14px;font-weight: lighter;">인쇄</a>
                </div>
            </div>
            <div class="basic-info">
                <div class="container">
                    <div class="photo">
                        <!--기본이미지-->
                                <img src="../resources/img/resume/img_profile_default.gif" />

                    </div>

                    
                    <div class="info-container">
                        <div class="info-general">
                            <div class="item name">홍기태</div>
                            <div class="item age">1991년</div>
                            <div class="line"></div>
                            <div class="item sex">남</div>
                            <div class="line"></div>
                            <div class="item job">구직희망(미취업)</div>
                        </div>
                        <div class="info-detail">
                            <div class="item">
                                <div class="label">이메일</div>
                                <div class="value">
                                    <a>qudit@daum.net</a>
                                </div>
                            </div>
                            <div class="item full">
                                <div class="label">전화</div>
                                <div class="value">010-9099-5155</div>
                            </div>

                            <div class="item full m-b-0">
                                <div class="label">주소</div>
                                <div class="value">(30126) 세종특별자치시 새롬남로 17 (새롬동, 새뜸마을2단지) 206동</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--//기본정보-->
            <!--학력-->
            <div class="section">
                <div class="header">
                    <img src="../resources/img/resume/ic_edu.png" />
                    <h2 class="title">학력</h2>
                    <div class="term">
                    </div>
                </div>
                <div class="list">

                                <div class="item height-fix">
                                    <div class="term-wrap">
                                            <div class="term">2010.02 </div>
                                        <div class="state">졸업</div>
                                    </div>
                                    <div class="content">
                                        <div class="content-header">
                                                    <div class="main-txt">대전지족고등학교</div>
                                                      <div class="sub-txt">계열</div>

                                            <div class="sub-txt"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item height-fix">
                                  <div class="term-wrap">
                                          <div class="term">2010.03 ~ 2017.02</div>
                                      <div class="state">졸업</div>
                                  </div>
                                  <div class="content">
                                      <div class="content-header">
                                                  <div class="main-txt">목포대학교</div>

                                          <div class="sub-txt">간호학과</div>
                                      </div>
                                              <div class="content-body">
                                                  <div class="info">
                                                      <div class="item">
                                                          <div class="label">학점</div>
                                                          <div class="line"></div>
                                                          <div class="value"> 3.4 / 4.5</div>
                                                      </div>
                                                  </div>
                                              </div>
                                  </div>
                              </div>

                </div>
            </div>
            <!--//학력-->
                                <!--자격증-->
                                <div class="section">
                                  <div class="header">
                                      <img src="../resources/img/resume/ic_license.png" />
                                      <h2 class="title">면허 / 자격증</h2>
                                      <div class="term">
                                        <div class="total">
                                                        총 <strong>5</strong> 건
                
                                            
                                        </div>
                                    </div>
                                  </div>
                                  <div class="list">
                                          <div class="item">
                                              <div class="term-wrap">
                                                  <div class="term">
                                                                  2017.02
      
                                                  </div>
                                              </div>
                                              <div class="content">
                                                  <div class="content-header">
                                                      <div class="main-txt license-type">
                                                        면허자격증명
                                                      </div>

                                                      <div class="sub-txt">발급기관명</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="item">
                                              <div class="term-wrap">
                                                  <div class="term">
                                                                  발급일
      
                                                  </div>
                                              </div>
                                              <div class="content">
                                                  <div class="content-header">
                                                      <div class="main-txt license-type">
      워드프로세스1급
                                                      </div>
                                                      <div class="main-txt">
      
                                                      </div>
                                                      <div class="sub-txt">대한상공회의소</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="item">
                                              <div class="term-wrap">
                                                  <div class="term">
                                                                  2019.02
      
                                                  </div>
                                              </div>
                                              <div class="content">
                                                  <div class="content-header">
                                                      <div class="main-txt license-type">
      보건교사 교원자격증
                                                      </div>
                                                      <div class="main-txt">
      
                                                      </div>
                                                      <div class="sub-txt">보건교</div>
                                                  </div>
                                              </div>
                                          </div>
                                  </div>
                              </div>
                          <!--//자격증-->
            <!--경력-->
            <div class="section career">
                <div class="header">
                    <img src="../resources/img/resume/ic_career.png" />
                    <h2 class="title">경력</h2>

                </div>
                <div class="list">
                                    <div class="item">
                                        <div class="term-wrap">
                                                        <div class="term">2019.03 ~ 2022.12</div>

                                        </div>
                                        <div class="content">
                                            <div class="content-header">
                                                <div class="main-txt hosp-name">회사명 한국공공조</div>
                                                <div class="main-txt hosp-type">(공공기관)</div>
                                                <div class="sub-txt job-area">근무부서</div>
                                                <div class="sub-txt line">/</div>
                                                <div class="sub-txt job-position">직급명</div>
                                            </div>
                                            <div class="content-body">
                                                        <div class="info">
                                                            <div class="item">
                                                                <div class="label">재직여부</div>
                                                                <div class="line"></div>
                                                                <div class="value">
                                                                    퇴사
                                                                </div>
                                                            </div>
                                                        </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                      <div class="term-wrap">
                                                      <div class="term">2019.03 ~ 2022.12</div>

                                      </div>
                                      <div class="content">
                                          <div class="content-header">
                                              <div class="main-txt hosp-name">회사명 한국공공조</div>
                                              <div class="main-txt hosp-type">(공공기관)</div>
                                              <div class="sub-txt job-area">근무부서</div>
                                              <div class="sub-txt line">/</div>
                                              <div class="sub-txt job-position">직급명</div>
                                          </div>
                                          <div class="content-body">
                                                      <div class="info">
                                                          <div class="item">
                                                              <div class="label">재직여부</div>
                                                              <div class="line"></div>
                                                              <div class="value">
                                                                  퇴사
                                                              </div>
                                                          </div>
                                                      </div>

                                          </div>
                                      </div>
                                  </div>
                </div>
            </div>
            <!--//경력-->

                    <!--어학능력-->
                        <div class="section language">
                            <div class="header">
                                <img src="../resources/img/resume/ic_language.png" />
                                <h2 class="title">어학능력</h2>
                            </div>
                            <div class="list">
                                            <div class="item">
                                                <div class="term-wrap">
                                                    <div class="language-name">
                                                        영어
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="content-header">
                                                        <div class="main-txt">
                                                            ACT
                                                            3급

                                                        </div>
                                                        <div class="sub-txt">
                                                                     취득일 : 2020.03 

                                                        </div>
                                                    </div>
                                                    <div class="content-body">
                                                        <div class="info">
                                                            <div class="item">
                                                                <div class="label">회화능력</div>
                                                                <div class="line"></div>
                                                                <div class="value">
                                                                    고급
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                            </div>
                        </div>
                    <!--//어학능력-->
                    <!--기술 숙련도-->
                        <div class="section">
                            <div class="header">
                                <img src="../resources/img/resume/ic_computer.png" />
                                <h2 class="title">기술 숙련도</h2>
                                <div class="list">
                                    <table width="100%" class="resume-table">
                                        <tr>
                                                <th>기술 스택명</th>
                                                    <td>상</td>
                                                <th>엑셀</th>
                                                    <td>중(일반함수/수식가능) </td>

                                        </tr>
                                        <tr>
                                                <th>파워포인트</th>
                                                    <td>중(차트/그래픽 가능) </td>
                                                <th>인터넷 정보검색</th>
                                                    <td>상(해외 정보수집/정보활용 능숙)</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <!--//기술 숙련도-->

                    <!--자기소개서-->
                        <div class="section">
                            <div class="header">
                                <img src="../resources/img/resume/ic_self.png" />
                                <h2 class="title">자기소개서</h2>
                            </div>
                            <div class="list">
                                <div class="item">
                                            <div class="txt">
                                                자기소개서입니다.자기소개서입니다.자기소개서입니다.자기소개서입니다.
                                            </div>

                                </div>
                            </div>
                        </div>

            <!--//자기소개서-->
            <!--다름없-->
            <div class="sign">
                <div class="message">위의 모든 내용은 사실과 다름없음을 확인합니다.</div>
                <div class="text-wrap">
                    <div class="date">작성일 : 2023-07-24</div>
                    <div class="writer">작성자 : 홍기태</div>
                </div>
            </div>
            <!--//다름없-->

        </div>
        <!--// resume-preview-->
    </div>


</body>
</html>

<script type="text/javascript">
        function openPrintPreview() {
                
            var viewType = "preview"

            
            window.onbeforeprint = function () {
                $(".btn-printer").hide();
            }

            
            window.onafterprint = function () {
                $(".btn-printer").show();            
            }
            window.print();
	    }
        

</script>
