<!DOCTYPE html>
<html dir="ltr" lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Code is U</title>
    <!-- Custom CSS -->
    <link href="../dist/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->



<!-- :: Topjs 시작 :: -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FatherIcon Js -->
<script src="../dist/js/feather.min.js"></script>
  <!-- Custom $t Js -->
<script>
var $t = {
	header : "${_csrf.headerName}",
	token : "${_csrf.token}",
	csrfq : "${_csrf.parameterName }=${_csrf.token}",
	cpath : "${pageContext.request.contextPath}"
};
</script>
<script src="../resources/common/js/common.js" type="text/javascript"></script>
<!-- :: Topjs 끝 :: -->

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <!-- ::: TOPbar 시작 ::: -->
        <div class="center-wrap">
            <header class="topbar center-wrap" data-navbarbg="skin6">
                <nav class="navbar top-navbar navbar-expand-lg">
                    <div class="navbar-header" data-logobg="skin6">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
                                class="ti-menu ti-close"></i></a>
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->
                        <div class="navbar-brand">
                            <!-- Logo icon -->
                            <a href="index.html">
                                <img src="../resources/common/img/nav_logo.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Toggle which is visible on mobile only -->
                        <!-- ============================================================== -->
                        <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="ti-more"></i></a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav float-left me-auto ms-3 ps-1">
                            <!-- ============================================================== -->
                            <!-- create new -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-0 py-md-0">
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold" href="javascript:goToMenu('stu_stumain')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a></li>
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold active" aria-current="true" href="javascript:goToMenu('stu_h_cfroom')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">학업지원</a></li>
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold" href="javascript:goToMenu('stu_h_classroom')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">클래스룸</a></li>
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold" href="javascript:goToMenu('pms_main')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Icons');" target="_blank" rel="noopener">프로젝트</a></li>
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold" href="javascript:goToMenu('stu_notice')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" target="_blank" rel="noopener">공지사항</a></li>
                                <li class="nav-item col-4 col-md-auto"><a class="nav-link fw-bold" href="javascript:goToMenu('stu_m_modify')" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" target="_blank" rel="noopener">마이페이지</a></li>
                            </ul>
                            <!-- 언어 변경 -->
                            <li class="nav-item d-none">
                                <a class="nav-link" href="javascript:void(0)">
                                    <div class="customize-input">
                                        <select
                                            class="custom-select form-control bg-white custom-radius custom-shadow border-0">
                                            <option selected>EN</option>
                                            <option value="1">AB</option>
                                            <option value="2">AK</option>
                                            <option value="3">BE</option>
                                        </select>
                                    </div>
                                </a>
                            </li>
                            <!-- 언어 변경 끝-->
                        </ul>
                        <!-- ============================================================== -->
                        <!-- Right side toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav float-end">
                            <!-- ============================================================== -->
                            <!-- Search -->
                            <!-- ============================================================== -->
                            <li class="nav-item d-none">
                                <a class="nav-link" href="javascript:void(0)">
                                    <form>
                                        <div class="customize-input">
                                            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                                type="search" placeholder="Search" aria-label="Search">
                                            <i class="form-control-icon" data-feather="search"></i>
                                        </div>
                                    </form>
                                </a>
                            </li>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="${pageContext.request.contextPath}<sec:authentication property='principal.member.userProfile'/>" alt="user" class="rounded-circle"
                                        width="40">
                                    <span class="ms-2 d-none d-lg-inline-block"><span class="text-dark"><sec:authentication property="principal.member.userNo"/></span><span>님 (<sec:authentication property="principal.member.userType"/>)</span> <i data-feather="chevron-down"
                                            class="svg-icon"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                            class="svg-icon me-2 ms-1"></i>
                                        My Profile</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card"
                                            class="svg-icon me-2 ms-1"></i>
                                        My Balance</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail"
                                            class="svg-icon me-2 ms-1"></i>
                                        Inbox</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings"
                                            class="svg-icon me-2 ms-1"></i>
                                        Account Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power"
                                            class="svg-icon me-2 ms-1"></i>
                                        Logout</a>
                                    <div class="dropdown-divider"></div>
                                    <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View
                                            Profile</a></div>
                                </div>
                            </li>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                                                    <!-- Notification -->
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                                                            id="bell" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <span><i data-feather="bell" class="svg-icon"></i></span>
                                                            <span class="badge text-bg-primary notify-no rounded-circle">5</span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown">
                                                            <ul class="list-style-none">
                                                                <li>
                                                                    <div class="message-center notifications position-relative">
                                                                        <!-- Message -->
                                                                        <a href="javascript:void(0)"
                                                                            class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                                            <div class="btn btn-danger rounded-circle btn-circle"><i
                                                                                    data-feather="airplay" class="text-white"></i></div>
                                                                            <div class="w-75 d-inline-block v-middle ps-2">
                                                                                <h6 class="message-title mb-0 mt-1">Luanch Admin</h6>
                                                                                <span class="font-12 text-nowrap d-block text-muted">Just see
                                                                                    the my new
                                                                                    admin!</span>
                                                                                <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                                                                            </div>
                                                                        </a>
                                                                        <!-- Message -->
                                                                        <a href="javascript:void(0)"
                                                                            class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                                            <span class="btn btn-success text-white rounded-circle btn-circle"><i
                                                                                    data-feather="calendar" class="text-white"></i></span>
                                                                            <div class="w-75 d-inline-block v-middle ps-2">
                                                                                <h6 class="message-title mb-0 mt-1">Event today</h6>
                                                                                <span
                                                                                    class="font-12 text-nowrap d-block text-muted text-truncate">Just
                                                                                    a reminder that you have event</span>
                                                                                <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                                                                            </div>
                                                                        </a>
                                                                        <!-- Message -->
                                                                        <a href="javascript:void(0)"
                                                                            class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                                            <span class="btn btn-info rounded-circle btn-circle"><i
                                                                                    data-feather="settings" class="text-white"></i></span>
                                                                            <div class="w-75 d-inline-block v-middle ps-2">
                                                                                <h6 class="message-title mb-0 mt-1">Settings</h6>
                                                                                <span
                                                                                    class="font-12 text-nowrap d-block text-muted text-truncate">You
                                                                                    can customize this template
                                                                                    as you want</span>
                                                                                <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                                                                            </div>
                                                                        </a>
                                                                        <!-- Message -->
                                                                        <a href="javascript:void(0)"
                                                                            class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                                            <span class="btn btn-primary rounded-circle btn-circle"><i
                                                                                    data-feather="box" class="text-white"></i></span>
                                                                            <div class="w-75 d-inline-block v-middle ps-2">
                                                                                <h6 class="message-title mb-0 mt-1">Pavan kumar</h6> <span
                                                                                    class="font-12 text-nowrap d-block text-muted">Just
                                                                                    see the my admin!</span>
                                                                                <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);">
                                                                        <strong>Check all notifications</strong>
                                                                        <i class="fa fa-angle-right"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <!-- End Notification -->
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    <!-- ::: TOPbar 끝 ::: -->
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
    <div class="center-wrap">
        <!-- ::: LeftNav 시작 ::: -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item d-flex justify-content-center"> <a class="sidebar-link sidebar-link"
                                aria-expanded="false"><span
                                    class="hide-menu" style="font-size: 28px; font-weight: 600;">학업지원</span></a></li>
                        <li class="list-divider"></li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="javascript:goToMenu('stu_h_cfroom')"
                            aria-expanded="false"><span
                                class="hide-menu">회의실 예약
                            </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="javascript:goToMenu('stu_h_cert')"
                            aria-expanded="false"><span
                                class="hide-menu">증명서 발급
                            </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="javascript:goToMenu('stu_h_attdan')"
                            aria-expanded="false"><span
                                class="hide-menu">조퇴 외출
                            </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="javascript:goToMenu('stu_h_consult')"
                            aria-expanded="false"><span
                                class="hide-menu">상담 신청
                            </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="javascript:goToMenu('stu_h_timetable')"
                            aria-expanded="false"><span
                                class="hide-menu">시간표
                            </span></a>
                        </li>







                                </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ::: LeftNav 끝 ::: -->
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb pt-3">
                <div class="row">
                  <div class="col-12">
                  <div class="card my-0">
                    <div class="card-body py-2">
                      <i data-feather="home" class="feather-icon align-bottom" id="topmenu-icon"></i>
                      <span> ${temp_category} > ${temp_title}</span>
                  </div></div></div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid pt-3">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
                                        <!-- ::: Contents 시작 ::: -->
                                        <tiles:insertAttribute name="content"/>
                                        <!-- ::: Contents 끝 ::: -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by <a
                    href="https://adminmart.com/">TTTT</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- ::: Footjs 시작 ::: -->
    <!-- apps -->
    <!-- apps -->
    <script src="../dist/js/app-style-switcher.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- ::: Footjs 끝 ::: -->
</body>

</html>